<!--<form>
    <input />
</form>-->

<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
    <div class="form--group"> 
        <%= text_input f, :tittle, placeholder: "Tittle", class: "form-control" %>
        <%= error_tag f, :tittle%>
    </dive>

    <%= submit "Save Topic", class: "btn btn-primary"%>
<%end%>